<!DOCTYPE html>
<html>

<head>
    <title>
        <%= "Welcome" %>
    </title>
    <link rel="stylesheet" href="/public/css/styles.css" />
</head>

<body>
    <header>
        <div>
            <img id="logo" src="/public/images/Compact_Disc.png" />
            <h1>Simon's Seaside CD Scene</h1>
            <h2>Special Selections for Serene Sunsets!</h2>
        </div>
        <div>
            <nav id="nav">
                <p>NAVIGATION</p>
            </nav>
        </div>
    </header>

    <%- body %>
        <div id=" footer">FOOTER</div>
</body>
