<!DOCTYPE html>
<html>

<head>
    <title>
        <%= "Simon's Seaside" %>
    </title>
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="icon" href="public/images/Compact_Disc.svg" />
</head>

<body>
    <header>
        <div>
            <img id="logo" src="/public/images/Compact_Disc.svg" />
            <h1>Simon's Seaside CD Scene</h1>
            <h2>Special Selections for Serene Sunsets!</h2>
        </div>
        <div>
          <nav id="nav">
	    <ul id="menu">
              <li><a href="/cds">View CDs</a></li>
              <li><a href="/add">Add CDs</a></li>
	    </ul>
            </nav>
        </div>
    </header>

    <%- body %>

    <footer id="footer">
      <p>Copyright &copy; 2025 Noel J. Bergman, All Rights Reserved.</p>
    </footer>
</body>
