 <section id="about">
  <h1>About Simon's Seaside</h1>
  <p>
    <em>Simon's Seaside</em> is a demonstration Capstone application for the JCCC <a href="https://continuinged.jccc.edu/courses/detail/44810">WEB-210</a> Full-Stack Web Development Capstone course, although it can be used in similar contexts.
  </p>
  <p>See the <a href="https://github.com/NoelJB/JCCC_WEB210_Demo">GitHub repository</a> for more information.</p>
</section>
