<section id="cd-add">
  <h1>Add a CD</h1>
  <form id="cd-add-form">
    <label for="cd-artist">Artist</label>
    <input type="text" id="cd-artist"><br/>

    <label for="cd-title">Title</label>
    <input type="text" id="cd-title"><br/>

    <label for="cd-tracks">Tracks</label>
    <input type="text" id="cd-tracks"><br/>

    <label for="cd-price">Price</label>
    <input type="text" id="cd-price"><br/>

    <button id="create-button">Create</button>
    <span id="status"></span>
  </form>
</section>
