<section id="cd-list">
  <H1>Available CDs</H1>
  <table>
    <thead>
      <tr>
        <th>Artist</th>
        <th>Title</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody id="cd-items">
    </tbody>
  </table>
</section>
