<header>
  <div>
    <img id="logo" src="/public/images/Compact_Disc.svg" />
    <h1>Simon's Seaside CD Scene</h1>
    <h2>Special Selections for Serene Sunsets!</h2>
  </div>
  <div>
    <nav id="nav">
      <ul id="menu">
        <li><a href data-page="cd_page">View CDs</a></li>
        <li><a href data-page="add_page">Add CDs</a></li>
      </ul>
    </nav>
  </div>
</header>
