<head>
  <title>
    <%= "Simon's Seaside" %>
  </title>
  <link rel="stylesheet" href="/public/css/styles.css" />
  <link rel="icon" href="public/images/Compact_Disc.svg" />
  <link rel="preload" href="/public/js/cd-scripts.js" as="script"></script>

</head>
